*{
  font-family: Arial, "Helvetica Neue", Arial, Helvetica, sans-serif, sans-serif;

}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  background-image: url('../images/cork-wallet.png');
  background-size: cover;
  background-position: center;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: grey;
  border-top: #4aaaa5 solid 10px;
  text-align: center;
  margin: 0 auto;
}



input{
  width:90%;
}
.col {
  float:left;
}


h1, h2, h3, .logo {
  font-size: 2em;
  font-family: Georgia, 'Times New Roman', Times, serif, Times, "Times New Roman", serif;
  color: #4aaaa5;
}
h1,h2,h3 {
  padding: 3% 1%;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.2em;
}
p{
  margin-bottom: 8px;
}
a {
  color:grey;
  text-decoration: none;
}
a:hover{
  color:#4aaaa5;
}
.main-content {
  margin: 0;
  border:none;
  width: 23%;
  
  float: left;
  padding: 20px;
  line-height: 1.5em;
  background-color: #ffffff;
  margin: 40px;


}

.logo {
  padding:15px;
  color: #ffffff;
  font-size: 2.5em;
  background-color: #4aaaa5;
  float: left;
}
.menu {
  color:grey;
  float: right;
  text-align: center;
  padding: 25px;
  
}
#Contact{
  
  margin-right:8%;

}

.AboutMe{
  padding-top:20px;
  border-top: grey solid 1px;
}
.Portfolio{
  padding-top:20px;
  border-top: grey solid 1px;
}
.ContactMe{
  padding-top:20px;
  border-top: grey solid 1px;
}



  
  .foot{
   
    background-color: grey;
    text-align: center;
    padding:1.8%;
    
    border-top: #4aaaa5 solid 10px;
  }
 .headshot{
   float:left;
   margin: 8px;
 }
 .ContactText {
  height:100px;   
  width: 90%; 
   }
   .ContactSub{
   color:#ffffff;
   background-color:#4aaaa5;
   padding: 1% 3%;
   margin: 50px 0; 

   }
   .AboutMeText{
     text-align:justify;
   }
   .inline-connect-icons{
     border-top: grey solid 1px;
     padding: 2% 3%;
   }
 .headshot::after {  
  content:"";
  display: block;
  clear:both;}
  .content::after {  
    content:"";
    display: block;
    clear:both;
  }
  .row::after 
  {    
    content:"";
    display: block;
    clear:both;
  }

  h1, h2, h3, .logo {
    font-size: 1.8em;
  }
  .logo{
    width: 46%;
    margin-left:5%; 
    padding-bottom: 20px;
    font-size: 1.86em;
  }
  .navbar {
    border-bottom: grey solid 1px;
    background-color: #fff;
  }
  .navbar::after {  
      content:"";
      display: block;
      clear:both;
    }
  .main-content {
    /*width: 38%;*/
    width: 46%;
    margin:20px 0;
    margin-left:5%;
    padding:3px 15px 8px 15px;
  }
  .contain-connect {
    position: relative;
  
    width: 21%;
    float:right;
    padding: 15px;
    line-height: 1.5em;
    background-color: #ffffff;
    margin:20px 0;
    margin-right:5%;
  } 
  
    
    
    
    /*margin: 40px 50px 40px 30px;*/
  }
  .row  {
    margin: 0 0 0 3%;
  }
  img {
    width: 65px;
    height: 45px;
  }
  .bigimg {
    width: 360px;
    height: 240px;
  }
  .portimg{
    width: 240px;
    height: 180px;
  
    /*width: 100%;
    height: 100%;*/
  }
  .col{
    margin: 1%;
  }
  .col>h3{
    padding: 0;
    position: relative;
    top: 166px;
    background-color: #4aaaa5;
    color: white;
  }
  .row{
    padding: 0;
    margin: 0;
    
  }
  .col{
    padding: 0;
    margin-left: 1%;
    
  }
  .activepage>a{
    font-weight: 800; 
  }
.Deusexclassus{
  position: relative;
  top: 0;
  left: 12px;
  font-size: 1.5em;
}
input, textarea{
  position: relative;
  left: 18px;
  font-size: 1.2em;
}
button{
  font-size: 1.5em;
}

@media screen and (max-width:980px) {

  .bigimg {
    width: 264px;
    height: 198px;
} 
.portimg{
  width:264px;
}
#Contact {
  width:13%;

  padding-left: 0;
  padding-right: 0;
  margin: 0 .8% 0 0;
}
}
@media screen and (max-width:768px) {
  .navbar{
    width: 105%;
  }
  #Contact {
    width:33.3%;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    
  }
  #Portfolio{
    width:33.3%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
      }
  #About{
    width:33.3%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    
  }
  .logo{
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 20px;

  margin: 0 0 0 0;
  width: 100%;    
  font-size: 1.86em;
  text-align: center;
  display: inline-block;
  
}

  .main-content {
    Width: 86%;
    margin-left:3%;
    
  } 
  .contain-connect{
    
    position: relative;
    Width: 83%;
    float: left;
    padding: 15px;
    line-height: 1.5em;
    background-color: #ffffff;
    margin-left: 3%;
    
    left: 20px;
  
  }
  
  
    
  .bigimg {
    width: 264px;
    height: 198px;
    display: inline-block;
  }
  




  html {width:100%}
  header {
    width: 100%;
    margin: 0;
    border: 0;
  }
  
  .row{
    margin-left:3%;
  }
  .main-content {
    Width: 83%;
    margin-left:18px;
    
  }
  .contain-connect{   
  
    left: 0;
    margin-left:18px;
    width:83%;
  }
  .content, .header, .navbar{
    width:100%;
  }
   
  
  
  .bigimg{
    display:inline;
  }
  
  
}  
